{% layout "layout/default-layout.liquid", title: 'Car', isLoggedIn: isLoggedIn %}
{% block %}
    {% assign car = this.getCar %}
    {% assign csrfToken = this.getCsrfToken %}

    <form class="form" action="/edit-car" method="post">
        <input name="csrf_token" type="hidden" value={{ csrfToken }}>
        <div class="form__item">
            <label class="form__label"
                   for="id"
            >
                ID:
            </label>
            <input class="form__input"
                   value={{ car.id }}
                   type="number"
                   id="id"
                   name="id"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="mileage"
            >
                Пробег:
            </label>
            <input class="form__input"
                   value={{ car.mileage }}
                   type="number"
                   id="mileage"
                   name="mileage"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="number"
            >
                Номер:
            </label>
            <input class="form__input"
                   value={{ car.number }}
                   type="text"
                   id="number"
                   name="number"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="brand"
            >
                Бренд:
            </label>
            <input class="form__input"
                   value={{ car.brandName }}
                   type="text"
                   id="brandName"
                   name="brandName"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="model"
            >
                Модель:
            </label>
            <input class="form__input"
                   value={{ car.model }}
                   type="text"
                   id="model"
                   name="model"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="countryName"
            >
                Страна:
            </label>
            <input class="form__input"
                   value={{ car.countryName }}
                   type="text"
                   id="countryName"
                   name="countryName"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="clientName"
            >
                Имя клиента:
            </label>
            <input class="form__input"
                   value={{ car.clientName }}

                   id="clientName"
                   name="clientName"
                   type="text"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="clientSurname"
            >
                Фамилия клиента:
            </label>
            <input class="form__input"
                   value={{ car.clientSurname }}
                   type="text"
                   id="clientSurname"
                   name="clientSurname"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="yearManifacture"
            >
                Год выпуска:
            </label>
            <input class="form__input"
                   value={{ car.yearManifacture }}
                   type="number"
                   id="yearManifacture"
                   name="yearManifacture"
            >
        </div>

        <button class="button button_submit"
                type="submit"
        >
            Изменить
        </button>
    </form>
{% endblock %}