{% layout "layout/default-layout.liquid", title: 'Car' %}
{% block %}
    {% assign car = this.getCar %}

    <form class="form" action="/edit-car" method="post">
        <div class="form__item">
            <label class="form__label" for="id">ID:</label>
            <input class="form__input" value={{ car.id }} type="number" id="id" name="id">
        </div>

        <div class="form__item">
            <label class="form__label" for="mileage">Пробег:</label>
            <input class="form__input" value={{ car.mileage }} type="number" id="mileage" name="mileage">
        </div>

        <div class="form__item">
            <label class="form__label" for="number">Номер:</label>
            <input class="form__input" value={{ car.number }} type="text" id="number" name="number">
        </div>

        <div class="form__item">
            <label class="form__label" for="brand">Бренд:</label>
            <input class="form__input" value={{ car.brand_name }} type="text" id="brand" name="brand">
        </div>

        <div class="form__item">
            <label for="model">Модель:</label>
            <input class="form__input" value={{ car.model }} type="text" id="model" name="model">
        </div>

        <div class="form__item">
            <label class="form__label" for="country">Страна:</label>
            <input class="form__input" value={{ car.country_name }} type="text" id="country" name="country">
        </div>

        <div class="form__item">
            <label class="form__label" for="client_name">Имя клиента:</label>
            <input class="form__input" value={{ car.client_name }} type="text" id="client_name" name="client_name">
        </div>

        <div class="form__item">
            <label class="form__label" for="client_surname">Фамилия клиента:</label>
            <input class="form__input" value={{ car.client_surname }} type="text" id="client_surname" name="client_surname">
        </div>

        <div class="form__item">
            <label class="form__label" for="year">Год выпуска:</label>
            <input class="form__input" value={{ car.year_manifacture }} type="number" id="year" name="year">
        </div>

        <button class="button button_submit" type="submit">Изменить</button>
    </form>
{% endblock %}