<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../../css/style.css" rel="stylesheet">
  <title>Masters</title>
</head>
<body>
<div class="masters">
  {% assign masters = this.getMasters %}

  {% for master in masters %}
    <div class="masters__id">
      {{ master.id }}
    </div>

    <div class="masters__name">
      {{ master.name }}
    </div>

    <div class="masters__surname">
      {{ master.surname }}
    </div>

    <div class="masters__head-master">
      {{ master.headMasterId }}
    </div>

    <div class="masters__service-center">
      {{ master.serviceCenterId }}
    </div>
  {% endfor %}


</div>
</body>
</html>