<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <title>Service record</title>
</head>
<body>
<div class="service-record">
    {% assign serviceRecord = this.getServiceRecord %}
    <div class="service-record__id">
        {{ serviceRecord.id }}
    </div>

    <div class="service-record__master-id">
        {{ serviceRecord.masterId }}
    </div>

    <div class="service-record__car-id">
        {{ serviceRecord.carId }}
    </div>

    <div class="service-record__client-id">
        {{ serviceRecord.clientId }}
    </div>

    <div class="service-record__date">
        {{ serviceRecord.date }}
    </div>

</div>
</body>
</html>