<div class="car">
        <div class="car__id-header">
            <span>Id:</span>
        </div>

        <div class="car__id">
            <span>{{ car.id }}</span>
        </div>

        <div class="car__model-header">
            <span>Model:</span>
        </div>

        <div class="car__model">
            <span>{{ car.model }}</span>
        </div>

        <div class="car__model-header">
            <span>Mileage:</span>
        </div>

        <div class="car__model">
            <span>{{ car.mileage }}</span>
        </div>

        <div class="car__model-header">
            <span>Number:</span>
        </div>

        <div class="car__model">
            <span>{{ car.number }}</span>
        </div>

        <div class="car__model-header">
            <span>Brand:</span>
        </div>

        <div class="car__model">
            <span>{{ car.brand_id }}</span>
        </div>

        <div class="car__model-header">
            <span>Country:</span>
        </div>

        <div class="car__model">
            <span>{{ car.country_id }}</span>
        </div>

        <div class="car__model-header">
            <span>Client:</span>
        </div>

        <div class="car__model">
            <span>{{ car.client_id }}</span>
        </div>

        <div class="car__model-header">
            <span>Year of manifacture</span>
        </div>

        <div class="car__model">
            <span>{{ car.year_manifacture}}</span>
        </div>
</div>