<div class="car">
        <div class="car__id">
            <span>{{ car.id }}</span>
        </div>

        <div class="car__model">
            <span>{{ car.model }}</span>
        </div>

        <div class="car__mileage">
            <span>{{ car.mileage }}</span>
        </div>

        <div class="car__number">
            <span>{{ car.number }}</span>
        </div>

        <div class="car__brand">
            <span>{{ car.brand_name }}</span>
        </div>

        <div class="car__country">
            <span>{{ car.country_name }}</span>
        </div>

        <div class="car__client-name">
            <span>{{ car.client_name }}</span>
        </div>

        <div class="car__client-surname">
            <span>{{ car.client_surname }}</span>
        </div>

        <div class="car__year-manifacture">
            <span>{{ car.year_manifacture}}</span>
        </div>

        <div class="car__link">
            <a href="/car?id={{ car.id }}">Открыть</a>
        </div>
</div>