<div class="client">
    <div class="client__id">
        {{ client.id }}
    </div>

    <div class="client__name">
        {{ client.name }}
    </div>

    <div class="client__surname">
        {{ client.surname }}
    </div>

    <div class="client__passport">
        {{ client.passport }}
    </div>

    <div class="client__link">
        <a href="/client?id={{ client.id }}">Открыть</a>
    </div>

    <div class="client__edit">
        <a href="/edit-client?id={{ client.id }}">Изменить</a>
    </div>
</div>