<div class="service-record">
    <div class="service-record__item">
        {{ serviceRecord.id }}
    </div>

    <div class="service-record__item">
        {{ serviceRecord.number }}
    </div>

    <div class="service-record__item">
        {{ serviceRecord.passport }}
    </div>

    <div class="service-record__item">
        {{ serviceRecord.clientName }}
    </div>

    <div class="service-record__item">
        {{ serviceRecord.clientSurname }}
    </div>

    <div class="service-record__item">
        {{ serviceRecord.date }}
    </div>

    <div class="service-record__open">
        <a class="service-record__link"
           href="/service-record?id={{ serviceRecord.id }}"
        >
            Открыть
        </a>
    </div>

    <div class="service-record__delete">
        <a href="delete-service-record?id={{ serviceRecord.id }}"
           class="service-record__link"
        >
            Удалить
        </a>
    </div>
</div>