<div class="master">
    <div class="master__id">
        {{ master.id }}
    </div>

    <div class="master__name">
        {{ master.name }}
    </div>

    <div class="master__surname">
        {{ master.surname }}
    </div>

    <div class="master__head-master-name">
        {{ master.head_master_name }}
    </div>

    <div class="master__head-master-surname">
        {{ master.head_master_surname }}
    </div>

    <div class="master__service-center-name">
        {{ master.service_center_name }}
    </div>

    <div class="master__link">
        <a href="/master?id={{ master.id }}">Открыть</a>
    </div>
</div>