<div class="master">
    <div class="master__item">
        {{ master.id }}
    </div>

    <div class="master__item">
        {{ master.name }}
    </div>

    <div class="master__item">
        {{ master.surname }}
    </div>

    <div class="master__item">
        {{ master.head_master_name }}
    </div>

    <div class="master__item">
        {{ master.head_master_surname }}
    </div>

    <div class="master__item">
        {{ master.service_center_name }}
    </div>

    <div class="master__open">
        <a class="master__link" href="/master?id={{ master.id }}">Открыть</a>
    </div>
</div>