<div class="service-record">
    <div class="service-record__id">
        {{ serviceRecord.id }}
    </div>

    <div class="service-record__master-id">
        {{ serviceRecord.number }}
    </div>

    <div class="service-record__car-id">
        {{ serviceRecord.passport }}
    </div>

    <div class="service-record__client-id">
        {{ serviceRecord.client_name }}
    </div>

    <div class="service-record__client-id">
        {{ serviceRecord.client_surname }}
    </div>

    <div class="service-record__date">
        {{ serviceRecord.date }}
    </div>
</div>