<div class="service-center">
    <div class="service-center__id">
        {{ serviceCenter.id }}
    </div>

    <div class="service-center__name">
        {{ serviceCenter.name }}
    </div>

    <div class="service-center__country-id">
        {{ serviceCenter.country_id }}
    </div>

    <div class="service-center__city-id">
        {{ serviceCenter.city_id }}
    </div>

    <div class="service-center__street">
        {{ serviceCenter.street }}
    </div>

    <div class="service-center__house">
        {{ serviceCenter.house }}
    </div>

    <div class="service-center__number-seats">
        {{ serviceCenter.number_seats }}
    </div>
</div>