<div class="service-center">
    <div class="service-center__item">
        {{ serviceCenter.id }}
    </div>

    <div class="service-center__item">
        {{ serviceCenter.name }}
    </div>

    <div class="service-center__item">
        {{ serviceCenter.countryName }}
    </div>

    <div class="service-center__item">
        {{ serviceCenter.cityName }}
    </div>

    <div class="service-center__item">
        {{ serviceCenter.street }} {{ serviceCenter.house }}
    </div>

    <div class="service-center__item">
        {{ serviceCenter.numberSeats }}
    </div>

    <div class="service-center__open">
        <a class="service-center__link"
           href="/service-center?id={{ serviceCenter.id }}"
        >
            Открыть
        </a>
    </div>
</div>