<div class="service-center">
    <div class="service-center__id">
        {{ serviceCenter.id }}
    </div>

    <div class="service-center__name">
        {{ serviceCenter.name }}
    </div>

    <div class="service-center__country-name">
        {{ serviceCenter.country_name }}
    </div>

    <div class="service-center__city-name">
        {{ serviceCenter.city_name }}
    </div>

    <div class="service-center__address">
        {{ serviceCenter.street }} {{ serviceCenter.house }}
    </div>

    <div class="service-center__number-seats">
        {{ serviceCenter.number_seats }}
    </div>

    <div class="service-center__link">
        <a href="/service-center?id={{ serviceCenter.id }}">Открыть</a>
    </div>
</div>