<div class="service-record">
    <div class="service-record__id">
        {{ serviceRecord.id }}
    </div>

    <div class="service-record__master-id">
        {{ serviceRecord.master_id }}
    </div>

    <div class="service-record__car-id">
        {{ serviceRecord.car_id }}
    </div>

    <div class="service-record__client-id">
        {{ serviceRecord.client_id }}
    </div>

    <div class="service-record__date">
        {{ serviceRecord.date }}
    </div>
</div>